.wrapper {
    position: relative;
    width: 1300px;
    height: 800px;
    background: transparent;
    border: 2px solid #525252;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: aliceblue;
}

.wrapper .centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.projectsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    max-height: 800px;    
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 275px;
    padding: 40px;
    border: transparent;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 40px;
    border-right: 2px solid #525252;
}

.title {
    font-family: 'cambria';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e1e3e6;
}

.tasksListContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 40px;
}

.tasksHeaders {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: bold;
}

.task {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.titleHasTextPrimary{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.listMenu {
    margin-top: 15px;
    flex-direction: column;
    flex-grow: 1;
}

.listMenuUsers {
    margin-top: 15px;
    flex-direction: column;
    flex-grow: 1;
    background: #E1E3E6;    
    border-radius: 5px;
    border: 2px solid #595856;
    overflow-y: auto;
    max-height: 620px;
}

.listMenuItemProjects {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    color: #E1E3E6;
    cursor: pointer;
}

.listMenuItemUsers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    color: #5C5C5C;
    cursor: pointer;
    gap: 10px;
}

.userButtons {
    display: inline-block;
    margin-left: auto;  
}

.addUserButton, .removeUserButton {
    height: 22px;
    width: 22px;
    padding: 0px;
    border-radius: 50%;
    color: white;
    font-size: 1em;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;   
    vertical-align: middle;
    font-family: 'Times-Roman';
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

.addUserButton {
    background: linear-gradient(to bottom, #4CAF50, #388E3C);
    line-height: 1.4;
    margin-right: 5px;
}

.removeUserButton {
    background: linear-gradient(to bottom, #F44336, #ce261b);
    line-height: 1.2;
}

.addUserButton:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #66BB6A, #43A047);
}

.removeUserButton:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #f86055, #d1372c);
}

.listMenuItemProjects:hover, .listMenuItemUsers:hover {
    background: grey;
}

.listMenuItemUsers.active, .listMenuItemProjects.active {
    background: #d3d3d3;
    font-weight: bold;
}

.button {
    background: rgb(34, 34, 34);
    color: #e1e3e6;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

.circleAddButton {
    height: 50px;
    width: 50px;
    background: #e1e3e6;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    color: #595856;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times-Roman';
    cursor: pointer;
}

.circleAddButton:hover {
    opacity: 0.7;
}

.searchBar {
    margin-bottom: 10px;
    padding: 8px;
    background: #E1E3E6;
    border: 2px solid #595856;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}   